<div>
  <div class="containerNav">
    <div class="brooklyn">
      <img
        src="http://www.brooklyn.com.pl/assets/images/content/logo-small.png"
      />
    </div>
    <div class="butt">
      <button
        class="myButton"
        routerLink="/"
        routerLinkActive="active"
        type="button"
      >
        Home
      </button>
      <button
        routerLink="pizzas/search/:name"
        routerLinkActive="active"
        class="myButton"
        type="button"
      >
        Search
      </button>
      <button
        routerLink="new"
        routerLinkActive="active"
        class="myButton"
        type="button"
      >
        New pizza
      </button>
    </div>
    <div class="brooklyn">
      <img
        src="http://www.brooklyn.com.pl/assets/images/content/logo-small.png"
      />
    </div>
  </div>
</div>
