<!-- 11: Dodajemy komponent stronnicowania -->
<!-- 15: Zrobic zaznaczanie pizzy (wyroznianie kolorem: zielonym tlo) -->
<div class="container custom" >
  <div class="row list" >
    <div
      *ngFor="let pizza of pizzas | paginate: config" class="col-sm-4" >
      <app-pizza-item
        [pizza]="pizza"
        [selectedId]="selectedId"
        (click)="handleClick(pizza.id)" >
      </app-pizza-item>
    </div>
  </div>
  <div class="pagination">
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</div>
<app-pizza-editor ></app-pizza-editor>

