.wrapper {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f1f1f1;
}

.button-wrapper {
  max-width: 800px;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
}

.card-img {
  flex: 1 24%;
  padding: 10px 20px;
  border-radius: 10%;
  overflow: hidden;
}

.card-content {
  flex: 1 74%;
  align-self: center;
  text-align: center;
}

.card-title {
  text-align: center;
  align-self: center;
  color: #673ab7;
  text-transform: uppercase;
  flex: 1 100%;
}

.card-subtitle {
  text-align: center;
  align-self: center;
  flex: 1 100%;
}

.content-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
