<div class="custom-container">
  <div class="card text-center custom-card ">
    <div class="card-header nav">
      <a [routerLink]="['../']" class="nav-item" >Home</a>
    </div>
    <div class="row no-gutters" style="flex-wrap: nowrap">
      <div class="col-md-4 image-container">
          <img [src]="pizza?.photoUrl" (error)="onError()" class="card-img">
      </div>
      <div class="card-body custom-card-body">
        <div class="card-title custom-title">{{ pizza?.name}}</div>
        <div class="card-text">
        <p >{{ pizza?.description }}</p>
          <span style="font-size: 0.7rem">{{ pizza?.id }}</span>
        </div>
    </div>
  </div>
  <div class="card-footer ">
      <form #modifyForm="ngForm" (ngSubmit)="modify(modifyForm.value, modifyForm)" >
        <div class="form-group row " >
          <input
            type="text"
            name="photoUrl"
            ngModel #photoUrl="ngModel"
            class="col-sm-4 custom-input"
            placeholder="Edit photo url"
            required
          />
          <button
            type="submit"
            [disabled]="modifyForm.invalid"
            class="btn btn-outline-dark col-sm-1">
              Ok
          </button>
          <button type="button" (click)="remove()" class="btn btn-outline-dark custom-button">usuń pizzę</button>
        </div>
      </form>
    </div>
  </div>
</div>
