.remove {
  text-align: left;
  font-size: 16px;
  font-family: Verdana;
  color: #fff;
  padding: 20px;
}
.card-footer {
  background-color: red;
  text-align: center;
  padding: 10px;
}
.container-sm {
  font-size: 0px;
  font-family: Verdana;
  color: lightgrey;
}
.card-text {
  background-color: whitesmoke;
  text-align: center;
  padding: 20px;
}
.card-item {
  background-color: black;
  text-align: center;
  padding: 20px;
}
.card-img-top {
  background-color: black;
  text-align: center;
  height: 200;
  padding: 30px;
}
.card-title {
  background-color: purple;
  text-align: center;
  padding: 20px;
  font-size: 28px;
  font-family: Verdana;
  color: #fff;
}
.card-body {
  background-color: blue;
  text-align: center;
  padding: 10px;
}
.id {
  text-align: right;
  font-size: 10px;
  font-family: Verdana;
  color: lightgrey;
}
.selected {
  background-color: lightgreen;
}
