<div class="card">
  <!-- TODO 15-->
  <div
    class="card-body"
    (mouseenter)="mouseEnter($event.target)"
    (mouseleave)="mouseLeave($event.target)"
  >
    <img
      class="card-img-top img-fluid rounded pizza-image"
      *ngIf="pizza && pizza.photoUrl"
      [src]="pizza.photoUrl"
      onError="[hidden]='true'"
      height="100px"
    />
    <!-- TODO 4: Uzyj pipe skracajacy nazwe pizzy jak jest za dluga (20 znaków + "…") -->
    <h5 class="card-title">{{ pizza?.name | dots: 0:20 }}</h5>

    <!-- TODO 5: Dodaj pole opis -->
    <p class="card-text">{{ pizza.description }} {{ pizza.id }}</p>

    <!-- TODO 6: Obsłuż metode DELETE z Pizza API -->
    <div class="pizza-button-container">
      <button
        class="px-2"
        (click)="remove(pizza)"
        class="btn btn-danger btn-block"
      >
        Usuń
      </button>

      <button
        [routerLink]="['/pizzas/edit/', pizza.id]"
        class="btn btn-primary btn-block"
      >
        Edytuj
      </button>
    </div>

    <!-- TODO 12: Obsłuż metode POST z Pizza API -->
    <!-- TODO 11: Dodajemy komponent stronnicowania -->
  </div>
</div>
