<!-- TODO 8: Przenies obsługe przycisku do komponentu pizza-editor -->
<!-- TODO 9: Zaimplementuj formularz dodawania pizzy (nazwa, adres obrazka, opis) w oddzielnym komponencie PizzaEditor z uwzglednieniem walidacji -->

<form class="container-column" #myForm="ngForm" (ngSubmit)="addPizza(myForm)">
  <div class="container-row">
    <mat-form-field class="item" appearance="fill">
      <mat-label>Pizza name</mat-label>
      <input id="name" name="name" type="text" ngModel required matInput />
    </mat-form-field>
    <mat-form-field class="item" appearance="fill">
      <mat-label>Description</mat-label>
      <input
        id="description"
        name="description"
        type="text"
        ngModel
        required
        matInput
      />
    </mat-form-field>

    <mat-form-field class="item" appearance="fill">
      <mat-label>Pizza image URL</mat-label>
      <input id="img" name="img" type="text" ngModel required matInput />
    </mat-form-field>
  </div>
  <button class="flexCenter" mat-raised-button color="primary">
    Add pizza
  </button>
</form>
