<p *ngIf="pizza == null">Brak takiej pizzy</p>

<div *ngIf="pizza" class="pizzaItem" [ngClass]="{ 'pizzaItem--active': pizza.isSelected }">
  <img src="{{ pizza.photoUrl }}" class="pizzaItem__img" />
  <div class="pizzaItem__desc">
    <span class="pizzaItem__desc--name">{{
      (pizza.name | slice: 0:16) + (pizza.name.length > 16 ? "..." : "")
    }}</span>
    <br />
    <p class="pizzaItem__desc--desc">{{ pizza.description }}</p>
    <br />
    <a (click)="selectPizza(pizza)" class="pizzaItem__desc--button--select"
      >select</a
    >
    <a (click)="removePizza(pizza)" class="pizzaItem__desc--button--remove"
      >delete</a
    >
  </div>
</div>

<!-- TODO 7: Wydziel zawartosc html do komponentu pizza-item -->
<!-- TODO 3: Uzyj pipe skracajacy nazwe pizzy jak jest za dluga (10 znaków + "…")
    https://github.com/Banndzior/ng-pokedex/commit/ec48877aaa0ee6724c8d1d091152b7613aa70c95 -->

<!-- TODO 5: Obsłuż metode DELETE z Pizza API -->
<!-- TODO 5+: Obsłuż metode PUT/update z Pizza API -->
