* {
    text-align: center;
}

.container {
    background-color: #bbb;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    min-width: 200px;
    padding: 30px;
}

.img {
    margin: 10px;
}

.buttons {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: center;
}

.btn {
    max-width: 200px;
}