<!-- 3: Wydziel zawartosc html do komponentu pizza-item -->
<!-- 4: Uzyj pipe skracajacy nazwe pizzy jak jest za dluga (20 znaków + "…") -->
<!-- 5: Dodaj pole opis -->
<!-- 6: Obsłuż metode DELETE z Pizza API -->
<!-- 12: Obsłuż metode POST z Pizza API -->

<div  [className]="marked === pizza.id ? 'card item mark' : 'card item'" >
<!--  <a [routerLink]="['./', pizza.id]" >-->
    <img [src]="pizza.photoUrl" (error)="onError()"  class="card-img-top" height="200">
    <h3 class="card-title text-center card-header">{{ pizza?.name | dots:15}}</h3>
    <div class="card-body">
      <h6>{{ pizza?.id }}</h6>
      <p class="card-text">{{ pizza.description | dots: 100 }}</p>
    </div>
<!--  </a>-->
  <span class="card-footer d-flex justify-content-around">
    <a (click)="remove()" class="text-monospace text-secondary">usun</a>
    <a [routerLink]="['./edit', pizza.id]" class="text-monospace text-secondary">ustaw obrazek</a>
  </span>
</div>

