<form
  #pizzaForm="ngForm"
  [ngFormOptions]="{ updateOn: 'submit' }"
  (ngSubmit)="addPizza(pizzaForm.value, pizzaForm)"
>
  <div class="name">
    <label>Pizza name:</label>
    <input type="text" name="pizzaName" ngModel #pizzaName="ngModel" required />
    <div class="error" *ngIf="pizzaName.hasError('required')">
      Field is required
    </div>
  </div>
  <div class="description">
    <label>Description:</label>
    <input
      type="text"
      name="description"
      ngModel
      #description="ngModel"
      required
    />
    <div class="error" *ngIf="description.hasError('required')">
      Field is required
    </div>
  </div>
  <div class="image">
    <label>Image:</label>
    <input type="text" name="imageUrl" ngModel #imageUrl="ngModel" required />
    <div class="error" *ngIf="imageUrl.hasError('required')">
      Field is required
    </div>
  </div>
  <button type="submit" [disabled]="pizzaForm.invalid && false">
    Dodaj pizze
  </button>
</form>
<!-- DONE 8: Przenies obsługe przycisku do komponentu pizza-editor -->
<!-- DONE 9: Zaimplementuj formularz dodawania pizzy (nazwa, adres obrazka, opis) w oddzielnym komponencie PizzaEditor z uwzglednieniem walidacji -->
