<!-- <div>
   <button (click)="addPizza()" class="btn btn-secondary">Dodaj pizze</button>
</div> -->

   <div class="card-body custom-card">
     <form
       class="form-group"
       #form="ngForm"
       (ngSubmit)="addPizza(form.value)"
        >
       <div class="form-group" >
         <label class="col-sm-3 col-form-label">Pizza name:</label>
         <input
           type="text"
           name="name"
           ngModel #name="ngModel"
           required
           class="col-sm-8" />
       </div>
       <div class="form-group" >
         <label class="col-sm-3 col-form-label">Description:</label>
         <input
           type="text"
           name="desc"
           ngModel #desc="ngModel"
           required
           class="col-sm-8" />
       </div>
       <div class="form-group">
         <label class="col-sm-3 col-form-label">Image:</label>
         <input
           type="text"
           name="image"
           ngModel #image="ngModel"
           class="col-sm-8"
           required/>
       </div>
       <button
         type="submit"
         class="btn btn-secondary"
         [disabled]="form.invalid">
           Dodaj pizze
       </button>
     </form>
   </div>
