<form 
class="form-group"
#myForm="ngForm"
[ngFormOptions] = "{updateOn: 'submit'}"
(ngSubmit) = "register($event, myForm)"
>
<fieldset>
    <legend>Dodaj nową pizzę</legend>
    <label>
        Nazwa:
  
    <input type="text"
        name="name"
        class="form-control" 
        #name="ngModel"
        ngModel
        required
        minlength="3" />
    <!-- <div class="error"
        *ngIf="myForm.controls.firstName?.errors?.required">
        Pole jest wymagane
    </div> -->
</label>
    <div class="error"
        *ngIf="name.hasError('required') && name.touched">
        Pole jest wymagane
    </div>
    <br />
    <label>
        Url do zdjęcia:
    
    <input type="text"
    class="form-control" 
        name="imageUrl"
        ngModel
        required
        minlength="3" />
    </label>
    <br />
    <label>
        Opis:
    
    <input 
    type="text" 
    name="description"
    class="form-control" 
        ngModel
        description />
    </label>
    <br />
    <button class="btn btn-primary" (click)="register()">Zapisz pizzę</button>
</fieldset>

</form>
<div class="btn-center">

    <button class="btn btn-success" (click)="addPizza()">Dodaj pizze (random)</button>
</div>


