.container {
  position: relative;
  max-width: 600px;
  margin: 50px auto;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-bottom: 20px;
}

button {
  font-size: 18px;
}

.close {
  position: absolute;
  right: 0;
  top: -30px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  background-color: lightgray;
  user-select: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.close:hover {
  background-color: gray;
}
