.container {
  position: relative;
  max-width: 600px;
  margin: 50px auto;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-bottom: 20px;
}

button {
  font-size: 18px;
}
