<div class="container">
  <div [routerLink]="['pizza']" class="close">x</div>
  <form
    [formGroup]="pizzaForm"
    (ngSubmit)="addPizza(pizzaForm.value)"
    novalidate
  >
    <label for="name"
      >Nazwa pizzy:
      <em
        *ngIf="
          checkValidation(pizzaForm.controls.name) &&
          pizzaForm.controls.name.errors.required
        "
        >Pole wymagane</em
      >
      <em
        *ngIf="
          checkValidation(pizzaForm.controls.name) &&
          pizzaForm.controls.name.errors.minlength
        "
        >Nazwa musi mieć minimum 5 znaków</em
      >
    </label>
    <input
      formControlName="name"
      id="name"
      type="text"
      placeholder="wpisz nazwę pizzy"
      [ngClass]="{
        error: checkValidation(pizzaForm.controls.name)
      }"
    />

    <label for="description"
      >Opis:
      <em
        *ngIf="
          checkValidation(pizzaForm.controls.description) &&
          pizzaForm.controls.description.errors.required
        "
        >Pole wymagane</em
      >
      <em
        *ngIf="
          checkValidation(pizzaForm.controls.description) &&
          pizzaForm.controls.description.errors.minlength
        "
        >Opis musi zawierać minimum 10 znaków</em
      ></label
    >
    <textarea
      [ngClass]="{
        error:
          pizzaForm.controls.description?.invalid &&
          pizzaForm.controls.description?.touched
      }"
      rows="6"
      formControlName="description"
      id="description"
      placeholder="opisz tą pyszniutką pizzunię"
    ></textarea>
    <label for="photoUrl"
      >Url obrazka:
      <em
        *ngIf="
          checkValidation(pizzaForm.controls.photoUrl) &&
          pizzaForm.controls.photoUrl.errors.required
        "
        >Pole wymagane</em
      >
      <em
        *ngIf="
          checkValidation(pizzaForm.controls.photoUrl) &&
          pizzaForm.controls.photoUrl.errors.pattern
        "
        >Wpisz poprawny adres URL (np. http://example.com)</em
      ></label
    >
    <input
      [ngClass]="{
        error:
          pizzaForm.controls.photoUrl?.invalid &&
          pizzaForm.controls.photoUrl?.touched
      }"
      formControlName="photoUrl"
      id="photoUrl"
      type="text"
      placeholder="podaj url obrazka"
    />
    <button
      [disabled]="pizzaForm.invalid"
      [ngClass]="{ active: pizzaForm.valid }"
      type="submit"
    >
      Dodaj pizze
    </button>
  </form>
</div>
