<div class="container">
  <div [routerLink]="['pizza']" class="close">x</div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Dodaj/edytuj pizze</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="pizzaForm"
        (ngSubmit)="addPizza(pizzaForm.value)"
        novalidate
      >
        <mat-form-field appearance="outline">
          <mat-label>Nazwa</mat-label>
          <input
            matInput
            formControlName="name"
            placeholder="wpisz nazwę pizzy"
          />
          <mat-hint>Wpisz tu nazwę pizzy (minimum 5 znaków)</mat-hint>
          <mat-error
            *ngIf="
              checkValidation(pizzaForm.controls.name) &&
              pizzaForm.controls.name.errors.required
            "
          >
            Pole wymagane
          </mat-error>
          <mat-error
            *ngIf="
              checkValidation(pizzaForm.controls.name) &&
              pizzaForm.controls.name.errors.minlength
            "
          >
            Nazwa musi mieć minimum 5 znaków
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Opis</mat-label>
          <textarea
            rows="6"
            matInput
            formControlName="description"
            placeholder="opisz tą pyszniutką pizzunię"
          ></textarea>
          <mat-hint>Opis (minimum 10 znaków)</mat-hint>
          <mat-error
            *ngIf="
              checkValidation(pizzaForm.controls.description) &&
              pizzaForm.controls.description.errors.required
            "
          >
            Pole wymagane
          </mat-error>
          <mat-error
            *ngIf="
              checkValidation(pizzaForm.controls.description) &&
              pizzaForm.controls.description.errors.minlength
            "
          >
            Opis musi mieć minimum 10 znaków
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Url zdjęcia</mat-label>
          <input
            matInput
            formControlName="photoUrl"
            placeholder="podaj url zdjęcia"
          />
          <mat-hint>Url zdjęcia (w prawidłowym formacie!)</mat-hint>
          <mat-error
            *ngIf="
              checkValidation(pizzaForm.controls.photoUrl) &&
              pizzaForm.controls.photoUrl.errors.required
            "
          >
            Pole wymagane
          </mat-error>
          <mat-error
            *ngIf="
              checkValidation(pizzaForm.controls.photoUrl) &&
              pizzaForm.controls.photoUrl.errors.pattern
            "
          >
            Wpisz poprawny adres URL (np. http://example.com)
          </mat-error>
        </mat-form-field>
        <mat-card-actions align="center">
          <button
            mat-raised-button
            color="primary"
            [disabled]="pizzaForm.invalid"
            [ngClass]="{ active: pizzaForm.valid }"
            type="submit"
          >
            Dodaj pizze
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
