<div>
  <button routerLink="/" type="button">Home Page</button>
  <button routerLink="/pizza" type="button">Pizza</button>
  <button routerLink="/pizza/:id" type="button">Pizza Search</button>
  <button routerLink="/comments" type="button">Comments</button>
</div>
<!-- <div>
  <links>
    <div class="navbar-nav">
      <a class="nav-item nav-link active waves-light" href="#" mdbWavesEffect
        >Home <span class="sr-only">(current)</span></a
      >
      <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect
        >Features</a
      >
      <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect
        >Pricing</a
      >
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </links>
</div> -->
