<ul>
  <li *ngFor="let pizza of pizzas">
    <!-- TODO: Wydziel zawartosc html do komponentu pizza-item -->
    <!-- TODO 4: Uzyj pipe skracajacy nazwe pizzy jak jest za dluga (10 znaków + "…") -->
    {{ pizza.name | slice: 0:10 + (pizza.name.length > 10 ? "..." : "") }}
    <!-- TODO 5: Dodaj pole opis -->
    <div>
      {{ pizza.description }}
    </div>
    <img [src]="pizza.photoUrl" height="50px" />
    <!-- TODO 6: Obsłuż metode DELETE z Pizza API -->
    <!-- TODO 12: Obsłuż metode POST z Pizza API -->
    <a>ustaw obrazek</a>
    <br />
    <button (click)="removePizza(pizza.id)">usun</button>
  </li>
  <!-- TODO 11: Dodajemy komponent stronnicowania -->
</ul>

<app-pizza-editor></app-pizza-editor>
