<div class="container-column">
  <ul class="container-row">
    <li
      class="card-container"
      *ngFor="
        let pizza of pizzas
          | paginate: { itemsPerPage: 5, currentPage: pageIndex }
      "
    >
      <mat-card class="card-item">
        <mat-card-header>
          <mat-card-title>{{
            pizza.name | slice: 0:10 + (pizza.name.length > 10 ? "..." : "")
          }}</mat-card-title>
        </mat-card-header>

        <img mat-card-image [src]="pizza.photoUrl" alt="Photo of a Shiba Inu" />

        <mat-card-content>
          <p>
            {{ pizza.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-stroked-button
            color="primary"
            (click)="removePizza(pizza.id)"
          >
            Delete
          </button>
        </mat-card-actions>
      </mat-card>
    </li>
    <!-- TODO 11: Dodajemy komponent stronnicowania -->
  </ul>

  <div class="has-text-centered">
    <pagination-controls
      (pageChange)="pageIndex = $event"
    ></pagination-controls>
  </div>
  <app-pizza-editor></app-pizza-editor>
</div>
