.navigation {
  height: 15vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}


.logo{
  max-height: 13vh;
  max-width: 25%vw;
}

.nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height:100%;
}
