<div class="navigation">

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/" type="button">
        <img class="logo" src="https://www.pinclipart.com/picdir/big/331-3310089_pizza-planet-logo-png-clipart.png"
          alt="" />
      </a>

    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pizza" type="button">All pizzas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pizza/search/Salami" type="button">Search</a>
    </li>


  </ul>
</div>