mat-grid-tile{
    background-color: lightyellow;
   
    height: 500px;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: 400;
    border: 2px solid orangered;
}
mat-grid-list{
    height:100%;
    width:90%;
    margin:0 auto;
}
app-pizza-item{
  padding: 15px;
  margin: 25px;
}
ngb-pagination{
  width:90%;
  margin:0 auto;
  display: flex;
}
.grid-layout-custom{
    width: 50vw;
    height: 50vh;
  }
  .menu-bar{
      text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
    background-color: moccasin;
    color: tomato;
  }
  #menu{
    display: inline;
  }
  .active{
    background-color: green;
  }
  .inactive{
    background-color:lightyellow;
  }
  #pagination{
    float: left;
    margin: 0 auto 20px auto;
    text-align: center;
    
  }
