<nav class="navbar navbar-expand-lg " style="background-color: tomato;">
    <a class="navbar-brand " href="#"><img src="https://image.freepik.com/free-vector/colorful-round-tasty-pizza_1284-10219.jpg" width="30" height="30" alt="" loading="lazy">Ng-pizza</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
       
        <li class="nav-item">
          <a class="nav-link" href="/pizza">Menu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/add">Dodaj nową pizzę</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/comments">Komentarze</a>
          </li>
         
      </ul>
      <form (ngSubmit)="submitSearch(searchValue.value)"
            class="form-inline my-2 my-lg-0">
        <input #searchValue class="form-control mr-sm-2" type="search" placeholder="Search"  aria-label="Search">
        <button class="btn btn-success searchButton my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<router-outlet></router-outlet>
