<i class="fas fa-search" aria-hidden="true"></i>

<div class="active-cyan-4 active-cyan-3 m-md-5">
  <input
    (input)="onChange($event.target.value)"
    class="form-control active-cyan-4"
    type="text"
    placeholder="Search"
    aria-label="Search"
  />
</div>

<div class="row itemsBlock m-md-5">
  <app-pizza-item
    *ngFor="let pizza of pageOfItems"
    [pizza]="pizza"
    class="col-md-4 col-sm-6 col-12 pizza-item"
  >
  </app-pizza-item>
</div>

<div class="card-footer">
  <jw-pagination
    [items]="items"
    [pageSize]="pageSize"
    (changePage)="onChangePage($event)"
  ></jw-pagination>
</div>
