<nav class="navbar">
  <ul class="navbar--list">
    <li>
      <a
        class="navbar--list-home"
        [routerLink]="['/pizza']"
        [routerLinkActive]="'activeHome'"
        [routerLinkActiveOptions]="{ exact: true }"
        >Pizza home</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/pizza/search']"
        [routerLinkActive]="'active'"
        >Search</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/pizza/pizza-creator']"
        [routerLinkActive]="'active'"
        >Pizza creator</a
      >
    </li>
  </ul>
</nav>
